* {
	margin: 0;
	padding: 0;
}

.navbar {
	display: flex;
	width: 100%;
}

.background {

	background: rgba(0, 0, 0, 0.7) url(background.jpg);
	background-size: cover;
	background-blend-mode: darken;
}

.nav-list {

	display: flex;
	align-items: center;
}

.nav-list li {
	list-style: none;
	border-radius: 22px;
	padding: 20px 30px;
}

.nav-list li a {
	text-decoration: none;
	color: white;
}

.nav-list li a:hover {
	text-decoration: none;
}

.nav-list li:hover {
	list-style: none;
	background-color: rgb(20, 20, 20);
	border-radius: 22px;
	padding: 20px 30px;
}

@media (min-width:0px) and (max-width:560px) {
	.nav-list li {
		list-style: none;
		padding: 10px 10px;
		background: transparent;
	}
}

@media(max-width:420) {}

.logo {
	font-size: 24px;
	display: flex;
	justify-content: center;

}

.first-section {
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: center;


}

@media (max-width: 800px) {}

.card {
	display: flex;
	flex-direction: row;
	flex: 0 0 240px;
	background-color: red;
	margin: 3vh;
	width: 400px;
	height: 120px;
	border-radius: 10px;
	vertical-align: middle;
}