@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
}

.background {
    background: rgba(0, 0, 0, 0.7) url(..\Source\background.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Pacifico', cursive;
}

.nav-list-left {
    display: flex;
    width: 25%;
    justify-content: center;
}

.nav-list-right {
    display: flex;
    width: 75%;
    justify-content: flex-end;

}

.logo {
    margin: 0px;
    padding: 15px;
    background: transparent;
    border-radius: 10px;

}

.nav-lii {
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(197, 192, 192, 0.2);
    height: 30px;
    backdrop-filter: blur(1px);
    background-color: rgba(70, 63, 63, 0.2);
    justify-content: center;

}

.nav-list-left li a {
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(197, 192, 192, 0.2);
    backdrop-filter: blur(1px);
    background-color: rgba(70, 63, 63, 0.2);

}


.nav-list-right li a {
    text-decoration: none;
    color: white;

}

.first-section {
    width: 100%;

}

.ham {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;


}

.line {
    width: 25px;
    background-color: white;
    height: 4px;
    margin: 3px 4px;
}

.card {
    display: flex;
    width: 60%;
    margin: 10px auto;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(197, 192, 192, 0.2);
    backdrop-filter: blur(1px);
    background-color: rgba(70, 63, 63, 0.2);

}

.card1 {
    display:flex;
    width: 60%;
    margin: auto;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(197, 192, 192, 0.2);
    backdrop-filter: blur(1px);
    background-color: rgba(70, 63, 63, 0.2);
}

.card-img1 {
    margin: auto auto;
    border-radius: 10px;
    width: 50%;
    height: 70%;

}

.card-img {
    margin: auto auto;
    border-radius: 10px;
    width: 50%;
    height: 70%;

}

.card-text {
    align-items: flex-end;
    justify-content: center;
    margin: 10px 10px;


}

.title {
    margin: auto;
    color: white;
    font-size: 150%;
    font-family: 'Pacifico', cursive;
}
.Card-subtext{
    color: white;
    font-size: 60%;
}
